body {
  overflow-x: hidden;
}


.top_hr_wrapper {
  margin-top: 2rem;
  margin-bottom: 7rem;
  opacity: 0;
}

.bot_hr_wrapper {
  margin-top: 10rem;
  margin-bottom: 2rem;
}


#carrousel {
  position: relative;
  top: 0;
  width: 100%;
  height: 530px;
  z-index: 10;
  box-shadow: var(--carrousel-boxShadow);
}

@media (max-width: 850px) {
  #carrousel {
    height: fit-content;
  }
}

#carrousel #slider-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

#carrousel #slider {
  display: flex;
  aspect-ratio: 16 / 11;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  -webkit-overflow-scrolling: touch; 
}

#slider::-webkit-scrollbar {
  display: none; 
}

#carrousel #slider img {
  scroll-snap-align: start;
  height: 100%;
  width: auto;
  object-fit: cover;
  -webkit-tap-highlight-color: rgba(0, 0, 255, 0.3); 
  transition: all 1s ease;
}

#slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  top: clamp(2rem, 3%, 4rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
}

#slider-nav .nav-link {
  color: var(--bg-color);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

#slider-nav .nav-link:hover {
  opacity: 0.9;
}

#slider-nav .nav-link.active {
  background-color: black;
  opacity: 1; 
} 

#container_glass_box {
  position: absolute; 
  left: 50%;
  top: 90%; 
  transform: translate(-50%, -40%); 
  width: 30rem; 
  max-width: 35rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: var(--glass-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.7), inset 0 2px 3px rgba(255, 255, 255, 1), inset 0 -1px 4px 0px rgba(255, 255, 255, 1);
  z-index: 100; 
}

#container_glass_box > h1 {
  font-size: 2rem; 
  font-weight: bold; 
  text-transform: uppercase;
  text-align: center;
  padding: 3rem;
  line-height: 4rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  #container_glass_box {
    width: 65%;
  }
  
  #container_glass_box > h1 {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 480px) {
  #container_glass_box > h1 {
    font-size: 1.3rem;
    padding: 1.5rem;
  }
}

.wrapper_titleDescription {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 13rem;
  align-items: center;
  text-align: center;
}

.wrapper_titleDescription h1.main_title {
  position: relative;
  width: 90%;
  max-width: 95%;
  font-weight: 600;
  line-height: 64px;
  font-size: 4rem;
  overflow-wrap: break-word;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wrapper_titleDescription .main_title > span#blur_text {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  cursor: pointer;
  transition: all 0.4s ease;
}

.wrapper_titleDescription .game_description {
  position: relative;
  width: 60%;
  max-width: 600px;
  margin-top: 3rem;
  color: var(--text-secondary);
  opacity: .8;
  font-size: 20px;
  font-weight: 455;
  line-height: 27px;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {

  .wrapper_titleDescription {
    padding-top: 10rem;
  }

  h1.main_title {
    font-size: 3rem;
  }

  .game_description {
    width: 85%;
  }

  .main_title > span#blur_text {
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
}

@media (max-width: 400px) {

  .wrapper_titleDescription {
    padding-top: 9rem;
  }

  h1.main_title {
    font-size: 2.5rem;
  }

  .game_description {
    margin-top: 2.3rem;
  }
}


.containerGrid.grid_component {
  --cardWidth: 4rem;
  --cardWidthActive: 30rem;
  --card1Height: 15rem;
  --card2Height: 20rem;
  --card3Height: 30rem;
  --cardPadding: 1rem;
  --iconSize: 2.5rem;
  --spotifyColor: #1DB954;
}

.containerGrid {
  height: 40rem;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 10rem;
}

.containerCard_row1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 30rem;
  width: 100%;
  padding-left: 10rem;
}

/* Cards */
.containerCard_row1 .card {
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  position: relative;
  width: var(--cardWidth);
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow1);
  transition: transform .6s ease-in-out, opacity .6s ease-in-out, width .6s ease-in-out, box-shadow 0.3s ease-in-out;
}

.containerCard_row1 .card:hover {
  transform: translateY(-1rem);
}

/* Expanded Card */
.containerCard_row1 .card.expanded {
  width: var(--cardWidthActive);
  opacity: 1;
}

/* Card backgrounds & heights */
.containerCard_row1 .card:nth-of-type(1) {
  height: var(--card1Height);
  background-image: url('https://images.unsplash.com/photo-1511138743687-5c14e8cfcf47?q=80&w=1974&auto=format&fit=crop');
}
.containerCard_row1 .card:nth-of-type(2) {
  height: var(--card2Height);
  background-image: url('https://images.unsplash.com/photo-1726142346170-080f90c96df0?q=80&w=1935&auto=format&fit=crop');
}
.containerCard_row1 .card:nth-of-type(3) {
  height: var(--card3Height);
  background-image: url('https://images.unsplash.com/photo-1660808059821-cd1abacc2371?q=80&w=1974&auto=format&fit=crop');
}

/* Row inside each card */
.containerCard_row1 .card .row {
  position: relative;
  width: 100%;
  height: 100%;
}

.containerCard_row1 .card .row .icon {
  position: absolute;
  background: var(--spotifyColor);
  opacity: 0.8;
  color: black;
  display: flex;
  font-size: 105%;
  justify-content: center;
  align-items: center;
  width: var(--iconSize);
  height: var(--iconSize);
  border-radius: 50%;
  aspect-ratio: 1;
  top: 1.5rem;
  left: calc((var(--cardWidth) / 2) - (var(--iconSize) / 2));
}

/*expanded and icon:hover state */
.containerCard_row1 .card.expanded .row .icon {
  left: 0.5rem;
  opacity: 0.9;
}
.containerCard_row1 .card .row .icon:hover {
  opacity: 1;
}

.containerCard_row1 .card .row .description {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  right: 1rem;
  bottom: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: normal;
  opacity: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(25rem);
  transition: opacity 0.7s ease-in, transform .5s ease-in-out;
}

/* Show description in expanded card */
.containerCard_row1 .card.expanded .row .description {
  opacity: 1;
  transform: translateY(0);
  margin-inline: 2rem;
}

.containerCard_row1 .card .row .description h4 {
  color: var(--spotifyColor);
  text-transform: uppercase;
  font-size: clamp(1.8rem, 1.2rem, 3rem);
}

.containerCard_row1 .card .row .description p {
  font-size: 1.8rem;
  color: #f5f5f5;
  margin-top: clamp(1rem, 1rem, 2rem);
  mix-blend-mode: lighten;
  background: #00000034;
  border-radius: 5px; 
}

/* Right Column on grid */
.cardInfo_row2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  padding-left: clamp(1rem, 10rem, 15rem);
  gap: 5rem;
  transition: all 1s ease-in-out;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* .cardInfo_row2 .infoItem:nth-child(2) {
  transform: translateX(5%);
}

.cardInfo_row2 .infoItem:nth-child(3) {
  transform: translateX(7%);
} */




.cardInfo_row2 .infoItem span {
  color: var(--spotifyColor);
  margin-right: 1rem;
}

@media (max-width: 1450px) {
  
  .containerGrid {
    grid-template-columns: 1fr;
  }
  
  .containerCard_row1 {
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 0.5rem;
  }
  
  .cardInfo_row2 {
    transform: translate(0, 0);
    padding: 0;
    text-align: center;
    margin-top: 5rem;
    font-size: 4.5rem;
    margin-left: 0;
  }
  
  .cardInfo_row2 .infoItem:nth-child(2) {
    transform: translateX(0%);
  }
  
  .cardInfo_row2 .infoItem:nth-child(3) {
    transform: translateX(0%);
  }
}


@media (max-width: 980px) {

  hr {
    margin-block: 5rem;
  }

  .containerCard_row1 .card {
    width: 4rem;
  }
  
  .containerCard_row1 .card.expanded {
    width: 25rem;
  }
}


@media (max-width: 700px) {
  
  hr {
    margin-block: 2rem;
  }
  
  .containerCard_row1 {   
    height: 15rem;
  }
  
  .cardInfo_row2 {
    
    font-size: 2.5rem;
    gap: 5rem;
  }
  
  .containerCard_row1 .card:nth-of-type(1) {
    height: 60%;
  }
  
  .containerCard_row1 .card:nth-of-type(2) {
    height: 80%;
  }
  .containerCard_row1 .card:nth-of-type(3) {
    height: 100%;
  }
  
  .containerCard_row1 .card {
    width: 3rem;
    margin: 0 0.5rem;
    padding: calc(var(--cardPadding) * 0.1);
  }
  .containerCard_row1 .card.expanded {
    width: 13rem;
  }
  
  .containerCard_row1 .card .row .icon {
    width: 2rem;
    height: 2rem;
    left: 0.4rem;
  }
  .containerCard_row1 .card .row .description h4 {
    font-size: 1.1rem;
  }
  
  .containerCard_row1 .card .row .description p {
    font-size: 1rem;
    padding-top: 0.2rem;
  }
  
}



.wrapper_titleDescription_two {
  margin: 0;
  padding-top: 5rem;
}




.container_videoBattle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* font-family: ; */
}

.wrapper_videoBattle {
  position: relative;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7rem;
}

.vs_text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--spotifyColor);
}

.video_item {
  position: relative;
  width: 400px; 
  height: auto;
}

.video_index {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--spotifyColor);
  background: var(--glass-color);
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 1;
}

.video_indexB {
  top: 1rem;
  left: 1rem;
}


.videos {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px -3px 15px 3px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.1);
}

.video_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.metadata_artist {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-secondary); 
}

.metadata_songTitle {
  padding-top: 0.7rem;
  font-weight: bold;
  font-size: 1.8rem; 
}

@media screen and (max-width: 1500px) {
  .wrapper_videoBattle {
    display: none;
  }
}



.split-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 30rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.2);
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

.half {
  flex: 1;
  background: hsla(240, 5%, 10%, 0.8);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.left {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.right {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.half:hover {
  background: hsla(240, 5%, 20%, 0.8);
}


@media screen and (max-width: 700px) {
  .split-button {
    display: flex;
    width: 20rem;
    height: 4rem;
  }

  .left {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
  }
  
  .right {
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }
}


.container_songGuessing {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.songGuessing_pp {
  position: relative;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px -3px 15px 3px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.songGuessing_pp::after {
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-image: url(/static/images/dvd2.png);
  background-size: cover;
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.5;
}


.svg-container {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: 0px -3px 15px 3px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.1);
  padding: 2rem;
  z-index: 100;
  cursor: pointer;
  outline: solid 2px var(--spotifyColor);
  transition: all 0.2s ease-in-out;
}

.svg-container:hover {
  height: 6rem;
  width: 6rem;
}


.svg-container:hover svg {
  height: 90px;
}

.svg-container svg {
  height: 80px;
  color: var(--spotifyColor);
  transition: all 0.2s ease-in-out;
}


.search-form {
  position: relative;
  height: 3.3rem;
  width: clanp(20rem, 90%, 30rem);
  margin-top: 9rem;
}


.ryuji_button {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  padding: 0 4rem 0 4rem; 
  background-color: var(--glass-color);
  font-size: 1rem;
  border: 0.13rem solid rgba(0, 155, 155, 0.7); 
  outline-color: transparent;
  color: var(--text-color);
}

.ryuji_button:focus {
  outline: 0.155rem solid rgba(0, 155, 155, 0.7);
  border: none;
}

#search-icon {
  position: absolute;
  top: 50%;
  left: 1rem; 
  transform: translateY(-50%); /* Flip on X axis, center Y axis */
  transform-origin: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--glass-textColor);
  pointer-events: none;
  transition: color 0.2s, filter 0.2s; /* Smooth transition for glow effect */
}

#clear_button {
  position: absolute;
  top: 50%;
  right: 1rem; 
  transform: translateY(-50%); 
  transform-origin: center;
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
  color: var(--glass-textColor);
  cursor: pointer; /
}

.ryuji_button:focus + #search-icon {
  color: var(--search-iconColor); 
  filter: var(--search-iconFilter);
}

#greenWave {
  position: absolute;
  width: 50rem;
  background-size: cover;
  z-index: -10;
  opacity: 0.4;
  filter: drop-shadow(0 0 0.75rem rgba(121, 184, 21, 0.76));
}



@media screen and (max-width: 800px) {
  #greenWave {
    width: 30rem;
  }
}

@media screen and (max-width: 700px) {
  #greenWave {
    width: 23rem;
  }

  .svg-container {
    height: 3rem;
    width: 3rem;
  }
  
  .svg-container:hover {
    height: 5rem;
    width: 5rem;
  }

  .songGuessing_pp {
    height: 15rem;
    width: 15rem;
  }
}

.btn_callToAction { 
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: fit-content;
  border-radius: 5rem;
  background: var(--spotifyColor);
  color: var(--bg-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  margin: 10rem 0 5rem 0;
  padding: 3rem;
  margin-top: 15rem;
}


.btn_callToAction:hover {
  background: var(--glass-color);
  color: var(--spotifyColor);
}







/* .register_link_bot {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
} 

.last_element_login {
  color: var(--spotifyColor);
  opacity: 0.3 !important;
  text-decoration: underline !important; 
}

.last_element_login:visited {
  color: var(--spotifyColor);
}

a.last_element_login:hover {
  color: var(--spotifyColor);
  opacity: 1 !important;
} */



/* #playlist_image {
max-width: 480px;
height: auto;
display: flex;
justify-content: center;
object-fit: cover;
}  */
