/*  Start of Carrousel */
.carrousel {
    top: 0;
    width: 100%;
    height: 50vh; 
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 1px 13px 15px rgba(0, 0, 0, 0.4), 0px 1px 8px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 8px 3px rgba(255, 255, 255, 1);
}

.slider-wrap {
    position: relative;
    width: 100%;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 11;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.slider::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.slider img {
    scroll-snap-align: start;
    height: 100%;
    width: auto;
    object-fit: cover;
    opacity: 0.8;
    -webkit-tap-highlight-color: rgba(0, 0, 255, 0.3); 
    transition: all 1s ease;
}

.slider img:hover {
    opacity: 1; 
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    top: clamp(2rem, 3%, 4rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
}

.slider-nav a {
    color: var(--bg-color);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 0.9;
}

.slider-nav a.active {
    background-color: black; /* Highlight dot */
    opacity: 1; 
} 
/* End of Carrousel */

/* Glass alike box with text inside */
#container_glass_box {
    position: absolute; /* To display a part on carrousel above another on body under */ 
    left: 50%;
    top: 60%; 
    transform: translate(-50%, -40%); 
    width: 30rem; 
    max-width: 35rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: linear-gradient(135deg, rgba(2, 2, 2, 0.2), rgba(30, 31, 31, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.7), inset 0 2px 3px rgba(255, 255, 255, 1), inset 0 -1px 4px 0px rgba(255, 255, 255, 1);
    z-index: 100; /* Top of carrousel */ 
}

#container_glass_box > h1 {
    font-size: 2rem; 
    font-weight: bold; 
    text-transform: uppercase;
    text-align: center;
    padding: 3rem;
    line-height: 4rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
  
@media (max-width: 600px) {
    #container_glass_box {
        width: 65%;
    }

    #container_glass_box > h1 {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

@media (max-width: 480px) {
    #container_glass_box > h1 {
        font-size: 1.3rem;
        line-height: 1.5ren;
        padding: 1.5rem;
    }
}
/* End of Glass Box */
/* End of Glass Box */


/* Main Title on page */
h1#main_title {
    text-align: center;
    margin-top: 15rem;
    margin-inline: 3rem;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#main_title > span#blur_text {
    filter: blur(7px);
    -webkit-filter: blur(7px);
    cursor: pointer;
    transition: filter 0.4s ease;
}

@media (max-width: 480px) {
    h1#main_title {
        margin-top: 10rem;
        font-size: 4rem;
    }
}

@media (max-width: 350px) {
    h1#main_title {
        font-size: 2rem;
    }
}
/* End of Main Title */
/* End of Main Title */


hr {
    margin-top: 7rem;
    margin-bottom: 10rem;
}


/* Global variables in .containerGrid local to this component */
.containerGrid.grid_component {
  --cardWidth: 4rem;
  --cardWidthActive: 30rem;
  --card1Height: 15rem;
  --card2Height: 20rem;
  --card3Height: 30rem;
  --cardPadding: 1rem;
  --iconSize: 2.5rem;
  --iconColor: #1ED760;
}

.containerGrid {
  height: 30rem;
  display: grid;
  grid-template-columns: auto 1fr;
}

.containerCard_row1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 30rem;
  width: 100%;
  padding-left: 1rem;
}

/* Cards */
.containerCard_row1 .card {
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  position: relative;
  width: var(--cardWidth);
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 2rem;
  cursor: pointer;
  transition: transform .6s ease-in-out, opacity .6s ease-in-out, width .6s ease-in-out, box-shadow 0.3s ease-in-out;
}

.containerCard_row1 .card:hover {
  transform: translateY(-1rem);
}

/* Expanded Card */
.containerCard_row1 .card.expanded {
  width: var(--cardWidthActive);
  opacity: 1;
}

/* Card backgrounds & heights */
.containerCard_row1 .card:nth-of-type(1) {
  height: var(--card1Height);
  background-image: url('https://images.unsplash.com/photo-1511138743687-5c14e8cfcf47?q=80&w=1974&auto=format&fit=crop');
}
.containerCard_row1 .card:nth-of-type(2) {
  height: var(--card2Height);
  background-image: url('https://images.unsplash.com/photo-1726142346170-080f90c96df0?q=80&w=1935&auto=format&fit=crop');
}
.containerCard_row1 .card:nth-of-type(3) {
  height: var(--card3Height);
  background-image: url('https://images.unsplash.com/photo-1660808059821-cd1abacc2371?q=80&w=1974&auto=format&fit=crop');
}

/* Row inside each card */
.containerCard_row1 .card .row {
  position: relative;
  width: 100%;
  height: 100%;
}

.containerCard_row1 .card .row .icon {
  position: absolute;
  background: var(--iconColor);
  opacity: 0.8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--iconSize);
  height: var(--iconSize);
  border-radius: 50%;
  aspect-ratio: 1;
  top: 1rem;
  left: calc((var(--cardWidth) / 2) - (var(--iconSize) / 2));
}

/*expanded and icon:hover state */
.containerCard_row1 .card.expanded .row .icon {
  left: 0.5rem;
  opacity: 0.9;
}
.containerCard_row1 .card .row .icon:hover {
  opacity: 1;
}

.containerCard_row1 .card .row .description {
  position: absolute;
  top: 1rem;
  left: 2rem;
  right: 1rem;
  bottom: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: normal;
  opacity: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(25rem);
  transition: opacity 0.7s ease-in, transform .5s ease-in-out;
}

/* Show description in expanded card */
.containerCard_row1 .card.expanded .row .description {
  opacity: 1;
  transform: translateY(0);
  margin-inline: 2rem;
}

.containerCard_row1 .card .row .description h4 {
  color: var(--iconColor);
  text-transform: uppercase;
  font-size: clamp(1.8rem, 1.2rem, 3rem);
}

.containerCard_row1 .card .row .description p {
  font-size: 1.8rem;
  color: #f5f5f5;
  margin-top: clamp(1rem, 2rem, 2rem);
  mix-blend-mode: lighten;
  background: #00000034;
  border-radius: 5px; 
}

/* Right Column on grid */
.cardInfo_row2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  padding-left: clamp(1rem, 10rem, 15rem);
  transform: translateY(75%);
  gap: 5rem;
  transition: all 1s ease-in-out;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cardInfo_row2 .infoItem span {
  color: var(--iconColor);
  margin-right: 1rem;
}

@media (max-width: 1450px) {

    .containerGrid {
        grid-template-columns: 1fr;
    }

    .containerCard_row1 {
        align-items: flex-end;
        justify-content: flex-start;
    }

    .cardInfo_row2 {
        transform: translate(0, 0);
        padding: 0;
        text-align: center;
        margin-top: 5rem;
        font-size: 4.5rem;
        margin-left: 0;
    }
}


@media (max-width: 980px) {
    .containerCard_row1 .card {
      width: 4rem;
    }

    .containerCard_row1 .card.expanded {
      width: 25rem;
    }
  }


@media (max-width: 700px) {

    hr {
        margin-block: 3rem;
    }

    .containerCard_row1 {   
    height: 15rem;
    }

    .cardInfo_row2 {
    font-size: 2.5rem;
    gap: 5rem;
    }

    .containerCard_row1 .card:nth-of-type(1) {
    height: 60%;
    }

    .containerCard_row1 .card:nth-of-type(2) {
    height: 80%;
    }
    .containerCard_row1 .card:nth-of-type(3) {
    height: 100%;
    }

    .containerCard_row1 .card {
    width: 3rem;
    margin: 0 0.5rem;
    padding: calc(var(--cardPadding) * 0.1);
    }
    .containerCard_row1 .card.expanded {
    width: 13rem;
    }

    .containerCard_row1 .card .row .icon {
    width: 2rem;
    height: 2rem;
    left: calc(3rem / 2 - 2rem / 2);
    }
    .containerCard_row1 .card .row .description {
    line-height: 1;
    }
    .containerCard_row1 .card.expanded .row .description {
    padding: 0.5rem 1.5rem 0 2rem;
    }
    .containerCard_row1 .card .row .description h4 {
    font-size: 1.1rem;
    }
    .containerCard_row1 .card .row .description p {
    font-size: 1rem;
    padding-top: 0.5rem;
    }

}


.register_link_bot {
    display: flex;
    justify-content: center;
    margin-top: 30rem;
} 

.last_element_login {
    color: #1DB954 !important;
    opacity: 0.3 !important;
    text-decoration: underline !important; /* Remove underline if needed */
}

.last_element_login:visited {
    color: #1DB954 !important;
}

a.last_element_login:hover {
    color: #1DB954 !important;
    opacity: 1 !important;
}


@media screen and (max-width: 768px) {
    
    .register_link_bot {
        margin-top: 15rem !important;
    } 
}




/* #playlist_image {
    max-width: 480px;
    height: auto;
    display: flex;
    justify-content: center;
    object-fit: cover;
}  */




