
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Profile section layout */
.user_profile_section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  width: 100%;
}

/* Image section */
.spotify_pp_wrapper {
  width: 12rem; 
  height: 12rem;
  aspect-ratio: 1 / 1; 
  border-radius: 50%; 
  outline: 0.233rem solid #1DB954; /* Need too find better outline*/
  overflow: hidden;
  pointer-events: none;
  margin-left: 17rem;
}

.spotify_pp_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: inherit; 
  
}

.greetings_user {
  transform: translateY(20%);
  font-family: "Gill Sans", sans-serif;
  text-align: left;
  padding-left: 2rem;
  color: var(--text-color); 
}

.greetings_user h1 {
  font-size: 3rem;
  color: var(--spotifyColor);
}

.greetings_user h2 {
  font-size: clamp(2rem, 2rem, 3rem);
}

@media screen and (max-width: 930px) {
    
  .spotify_pp_wrapper {
    width: 10rem; 
    height: 10rem;
    margin-left: 0;
  }
  
  .greetings_user h1 {
    font-size: 3.4rem;
  }
  
  .greetings_user h2 {
    font-size: 2rem;
  }
}



#userProfilData {
  position: absolute;
  top: 15%;
  left: 0%;
  width: auto;
  height: auto;
  width: fit-content;
  border-right: 1px solid var(--border1);
  border-bottom: 1px solid var(--border1);
  border-top: 1px solid var(--border1);
  padding: 2rem 1rem 1rem 2rem;
  line-height: 2.2rem;
  text-transform: capitalize;
  text-transform: uppercase;
  background-color: var(--bg-color);
  opacity: .9;
  font-weight: 400;
  z-index: 100;
  transition: all 1s ease-in-out;
}

#profilDataAlign {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#userProfilData p {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  white-space: nowrap;
}

#userProfilData p span {
  font-weight: 700;
}

.dataTotal {
  margin-left: 4rem;
}

#dataTab {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(70%, -120%);
  width: 60px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  outline: solid 2px var(--border1);
  padding: 13px;
  opacity: .5;
  z-index: 100;
  transition: all 1.5s ease-in-out;
}

#dataTab:hover {
  opacity: 1;
  transition: all .5s ease-in-out;
}

.lineDT {
  width: 60%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--border1);
}

#dataTab .lineDT:nth-child(2) {
  width: 50%;
}


#mods_select {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: fit-content;
  padding-top: 4rem;
  border-top: solid rgba(255, 255, 255, 0.077);
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/* Page title */ 
#selectTitle {
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 7rem;

}

/* music box section Section */
.wrapper_containerPas {
  height: 30rem;
  width: 80%;
  margin-inline: auto;
}

/* Grid Layout */
.grid_pas {
  width: 100%;
  height: 80%;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr)); 
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr)); 
  
}

.music_box {
  position: relative;
  width: 100%;
  min-width: 10rem;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .7rem;
  align-self: center;
  border: none;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s;
}

.music_box:not(.card4) {
  outline: .2rem solid var(--spotifyColor);
  cursor: pointer;
}

.music_box.card4 {
  outline: .25rem solid #333;
}

.music_box:not(.card4):hover {
  transform: translateY(-0.5rem);
}

.music_box img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  border-radius: inherit;
}

/* Text inside carts */
.music_box .text {
  text-align: center;
  position: absolute;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  background: #000000b0;
  border-radius: 10px;
  padding-block: autofit;
  padding-inline: 2rem;
}

/* Grid Positioning */
.card1 { grid-column: 1 / 2; grid-row: 1 / 2; }
.card2 { grid-column: 2 / 3; grid-row: 1 / 2; }
.card3 { grid-column: 1 / 2; grid-row: 2 / 3; }
.card4 { grid-column: 2 / 3; grid-row: 2 / 3; }

/* Responsive Design */
@media (max-width: 850px) {
  .grid_pas {
    width: 100%;
    /* row-gap: 2rem; */
  }
  
  /* Box Styling */
  /* .music_box {
  box-shadow: 0 0 0.9rem hsl(209, 98%, 30%);
  } */
}

@media (max-width: 600px) {
  .grid_pas {
    padding: 1rem;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    justify-content: center;
    align-items: center;
  }
  
  .music_box {
    border: 0.17rem solid hsla(210, 30%, 50%, 0.263); 
    /* box-shadow: 0 0.3rem 1rem rgba(0, 155, 155, 0.3), inset 0 0 0.5rem rgba(0, 155, 155, 0.3); */
  }
  
}

/* Set the style playlist */
/* .coverflow_playlist {
  display: none;
  margin-top: 10rem;
  max-width: 100%;
  max-height: 25rem;
  gap: 1rem;
  justify-content: center;
} /* ? */  

#rank {
  position: absolute;
  top: 100%;
  right: 10%;
  font-size: 3rem;
  text-align: left;
  color: var(--text-color);
  font-family: monospace;
}


#rank span {
  color: var(--spotifyColor);
}






