{% extends "layout.html" %}

{% block title %}Spotify{% endblock %}

{% block head %}
    <!-- Link css / js file for route -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block main %}
    <!-- Carrousel on main -->
    <div class="carrousel">
        <div class="slider-wrap">
            <div class="slider">
                <img id="slide1" src="{{ url_for('static', filename='images/spotify_lyrics.jpg') }}" alt="Lyrics Spotify">
                <img id="slide2" src="{{ url_for('static', filename='images/spotify_list.jpg') }}" alt="Playlist Spotify">
                <img id="slide3" src="{{ url_for('static', filename='images/spotify_liked.jpg') }}" alt="Like playlist Spotify">
            </div>
            <div class="slider-nav">
                <a href="#slide1"></a>
                <a href="#slide2"></a>
                <a href="#slide3"></a>
            </div> <!-- End slider-nav -->
        </div> <!-- End slider-wrap -->

        <div id="container_glass_box">
          <h1>DO YOU KNOW YOUR <span style="color: #1DB954;">SPOTIFY</span> SONGS?</h1>
      </div>

    </div> <!-- End carrousel -->


    <div id="wrapper_titleDescription">
      <h1 id="main_title"> Can you find the <span id="blur_text"><del>missing</del></span> lyrics 🎵</h1>
      <p id="game_description">Listen to your favorite Spotify tracks, but when the lyrics cut out, can you guess the next words? Who will be the ultimate Music Master?! 🎤</p>
    </div>

    <hr>

    <div class="containerGrid grid_component">
        <div class="containerCard_row1">
          
          <!-- Card 1 -->
          <div class="card" onclick="expandCard(this)">
            <div class="row">
              <div class="icon">1</div>
              <div class="description">
                <h4>Connect</h4>
                <p>Link your Spotify account.</p>
              </div>
            </div>
          </div>
          
          <!-- Card 2 -->
          <div class="card" onclick="expandCard(this)">
            <div class="row">
              <div class="icon">2</div>
              <div class="description">
                <h4>Select Playlist</h4>
                <p>Choose your favorite song.</p>
              </div>
            </div>
          </div>
          
          <!-- Card 3 -->
          <div class="card" onclick="expandCard(this)">
            <div class="row">
              <div class="icon">3</div>
              <div class="description">
                <h4>Sing Cut-out Lyrics</h4>
                <p>Challenge yourself and sing along!</p>
              </div>
            </div>
          </div>
        </div> <!-- End of container card -->
        
        <!-- Section for additional info -->
        <div class="cardInfo_row2">
          <div class="infoItem"><span>1</span> Connect</div>
          <div class="infoItem"><span>2</span> Pick song</div>
          <div class="infoItem"><span>3</span> Have fun!</div>
        </div>
        
     </div> <!-- End of container grid -->

    <div class="register_link_bot">
        <a href="/login" class="last_element_login">Login</a>
    </div>

{% endblock %}
