{% extends "layout.html" %}

{% block title %}Spotify{% endblock %}

{% block head %}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">
        <script src="{{ url_for('static', filename='js/selection.js') }}"></script>

{% endblock %}

{% block main %}

        <div class="user_profile_section">

                <div id="userProfilData">
                        <div id="profilDataAlign">

                                <p>Song guessed: <span id="songGuessed">0/100</span></p>
                                <p>Artist guessed: <span id="artistGuessed">0/100</span></p>
                                <p>Playlists: <span id="totalPlaylist">103</span></p>
                                <p>Songs: <span id="totalLikedSongs">1004</span></p>
                                <br>
                                <p>Rank: <span id="rank">S++</span></p>
                        </div>
                </div>
                
                <!-- Profile picture -->
                <div class="spotify_pp_wrapper">
                        <img src="https://images.unsplash.com/photo-1735809491847-1af1c3025b92?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Spotify Profile Picture">
                </div>
                
                <!-- Greetin user -->
                <div class="greetings_user">
                        <h2>Hello,</h2>
                        <h1>USER</h1>
                </div>




        </div> <!-- End of user_profile_section -->




        <hr style="margin-bottom: 5rem; margin-top: 5rem; width: 70%"> 

        <h1 id="selectMod">Choose game-mod 🚀</h1>

        <div class="wrapper_containerPas">
                <div class="grid_pas">
                        
                        <div class="music_box card1">
                                <img src="https://images.unsplash.com/photo-1616356607338-fd87169ecf1a?q=80&w=2070&auto=format&fit=crop" alt="Playlist">
                                <div class="text">Battle</div>
                        </div>
                        
                        <div class="music_box card2">
                                <img src="https://images.unsplash.com/photo-1595177663993-4849619ab1f8?q=80&w=1974&auto=format&fit=crop" alt="Liked Title">
                                <div class="text">Guess Artist</div> 
                        </div>
                        
                        <div class="music_box card3">
                                <img src="https://images.unsplash.com/photo-1595177663993-4849619ab1f8?q=80&w=1974&auto=format&fit=crop" alt="Artist">
                                <div class="text">Fav' song</div>
                        </div>
                        <div class="music_box card4">
                                <img src="https://images.unsplash.com/photo-1616356607338-fd87169ecf1a?q=80&w=2070&auto=format&fit=crop" alt="Album">
                                <div class="text">Coming soon</div>
                        </div>
                </div> <!-- End of grid_pas-->
        </div> <!-- End of wrapper_containerPas-->

        <div class="coverflow_playlist">
                {% for image_url in playlist_images %}
                <div class="playlist_image">
                        <img id="images_playlist" src="{{ image_url }}" alt="Playlist Image" style="width:200px; height:auto;">
                </div>
                {% endfor %}
        </div>
{% endblock %}
